body {
    background-image: url(../76579339662c6ff.jpg);
    
}

#message-welcome {

    font-size: 300%;
    font-weight: 500; 
    margin-top: 3%;
    color: white;
    font-style: italic;
    position: absolute;
    top: 40px;
    left: 350px;
    font-family: 'Fredericka the Great', cursive;
}

#code {

    position: absolute;
    top: 200px;
    left: 200px;
    padding: 2%;
    font-size: 200%;
    font-weight: 500%;
    border: medium dotted #ffffbf;
    color: white;
    background: rgb(66, 66, 63);
}

#decoded {

    position:absolute;
    top: 200px;
    left:900px;
    padding: 2%;
    font-size: 200%;
    font-weight: 500%;
    border: medium dotted #ffffbf;
    color: white;
    background: rgb(66, 66, 63);
}

#position-cipher {

    font-size: 150%;
    display: inline-block;
    position: absolute;
    top: 350px;
    left: 70px;
    color: white; 
}

#position-decipher {

    font-size: 150%;
    display: inline-block;
    position: absolute;
    top: 350px;
    left: 750px;
    color: white;
    
}

#input-cipher {

    position: absolute;
    top: 400px;
    left: 250px;
    height: 30px;  
}

#input-decipher {

    position: absolute;
    top: 400px;
    left: 950px;
    height: 30px;
}

#text-cipher {

    font-size: 150%;
    position: absolute;
    top: 500px;
    left: 100px;
    color: white;
}

#text-decipher {

    font-size: 150%;
    position: absolute;
    top: 500px;
    left: 800px; 
    color: white;
}

#input-messagecipher {

    display: inline-block;
    position: absolute;
    top: 580px;
    left: 180px;
}

#input-messagedecipher {

    position: absolute;
    top: 580px;
    left: 900px;
}

#button-messagecipher {
    position: absolute;
    top: 580px;
    left: 400px;
}

#button-messagedecipher {
    position: absolute;
    top: 580px;
    left: 1100px;
}

#result-cipher {

    font-size: 150%;
    display: inline-block;
    position: absolute;
    top: 660px;
    left: 200px;
    color: white;
}

#result-decipher {

    font-size: 150%;
    display: inline-block;
    position: absolute;
    top: 660px;
    left: 900px;
    color: white;
}

#cipher {
    background: rgba(183, 183, 178, 0.185);
    position: absolute;
    top: 720px;
    left: 100px;
    width: 25%;  
    padding: 3%;
    color: white;
}

#decipher {
    background: rgba(183, 183, 178, 0.185);
    position: absolute;
    top: 720px;
    left: 800px;
    width: 25%;
    padding: 3%;
    color: white;
}